@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


.LinkedIn {

    background-color: rgb(10, 101, 186);
    color: aliceblue;
    border: none;
    border-radius: 8%;
    text-decoration: none;
    cursor: pointer;
    height: 36px;
}


#About {
    text-align: center;
}

#Skills {
    text-align: center;
}

#Projects {
    text-align: center;
}


#Connect {

    text-align: center;
}

#Connect li {
    text-align: center;
    list-style: none;
}

#Connect a:hover {
    color: rgb(202, 0, 0);

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff5f5;
}

p {
    color: rgb(0, 0, 0);
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

#Experience {
    text-align: center;
}

#Experience li {
    border-color: rgb(244, 7, 7);
    border-style: dashed;
    display: inline;
    margin: 15px;
}

h2 {
    size: 100px;
    color: rgb(0, 0, 0);
    font-weight: bold;

}

nav ul {
    text-align: center;
    list-style-type: none;
    background-color: rgba(203, 0, 0, 0.904);
    padding: 1%;
    overflow: hidden;
    margin: 1%;
    font-family: 'Poppins', sans-serif;
}

nav a {
    color: rgb(0, 0, 0);
    list-style-type: none;
    text-decoration: none;
    display: block;
}

nav a :hover {
    background-color: greenyellow;
}


nav li {

    float: center;
}